@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mcv7mx');
  src:  url('fonts/icomoon.eot?mcv7mx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mcv7mx') format('truetype'),
    url('fonts/icomoon.woff?mcv7mx') format('woff'),
    url('fonts/icomoon.svg?mcv7mx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ec11";
}
.icon-instagram:before {
  content: "\ec13";
}
.icon-twitter:before {
  content: "\ec17";
}
.icon-youtube:before {
  content: "\ec1e";
}
